
@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>CreateProduct</h1>

@*<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex flex-column justify-content-center">
                <h1 class="text-center">Create new product</h1>
                <form method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="mb-3 col-12">
                            <ejs-textbox id="title" ejs-for="" placeholder="Title" floatLabelType="Always"></ejs-textbox>
                           
                        </div>
                        <div class="mb-3 col-4">
                            <ejs-dropdownlist id="Category" ejs-for=""
                                              dataSource="" placeholder="Category"
                                              floatLabelType="Always" allowFiltering="true" filterType="Contains">
                                <e-dropdownlist-fields value="CategoryId" text="CategoryName"></e-dropdownlist-fields>
                            </ejs-dropdownlist>
                        </div>
                        <div class="mb-3 col-4">
                            <ejs-numerictextbox placeholder="Price" floatLabelType="Always" ejs-for="" id="price" value="10" min="0" Type="text"></ejs-numerictextbox>
                        </div>
                        <div class="mb-3 col-4">
                            <ejs-numerictextbox placeholder="SalePercent" floatLabelType="Always" ejs-for="" id="percent" value="1" min="0" max="100" Type="text"></ejs-numerictextbox>
                        </div>
                        <div class="mb-3 col-12">
                            <ejs-textbox id="brand" placeholder="Brand" floatLabelType="Always"></ejs-textbox>
                        </div>
                        <div class="mb-3 col-12">
                           
                        </div>
                        <div class="mb-3 col-4">
                            <ejs-multiselect id="Color" name="color"
                                             dataSource="" placeholder="Color"
                                             floatLabelType="Always" allowFiltering="true" filterType="Contains">
                                <e-multiselect-fields value="ColorId" text="ColorType"></e-multiselect-fields>
                            </ejs-multiselect>
                        </div>
                        <div class="mb-3 col-4">
                            <ejs-multiselect id="Size" name="size"
                                             dataSource="" placeholder="Size"
                                             floatLabelType="Always" allowFiltering="true" filterType="Contains">
                                <e-multiselect-fields value="SizeId" text="SizeType"></e-multiselect-fields>
                            </ejs-multiselect>
                       
                        <div class="mb-3 col-4">
                            <ejs-dropdownlist ejs-for="SexType" id="games" dataSource="" placeholder="Sex" floatLabelType="Always"> </ejs-dropdownlist>
                        </div>
                        <div class="mb-3 col-12">
                            <ejs-textbox id="picture1" name="file" multiple type="file" placeholder="Picture"></ejs-textbox>
                        </div>
                        <div class="mb-3 col-4">
                            <ejs-button id="submit" type="submit" cssClass="e-primary" content="Submit"></ejs-button>
                        </div>
                    </div>
                    </div>
                </form>
                </div>
            </div>
    </div>
</div>*@