@model BankModel.Contact
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h1 class="text-center">Reply contact</h1>
<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <div class="row">
            <div class="col-12">
                <label>Customer:&nbsp;@Model.UserContact</label>
            </div>
            <div class="col-12">
                <label>Email:&nbsp;@Model.Email</label>
            </div>
            <div class="col-12">
                <label>Content:&nbsp;@Model.Description</label>
            </div>
            <div class="col-12"><label>Rely message:</label></div>
            <form id="contact_form">
                <input hidden id="idContact" name="idContact" value="@Model.ContactId" />
                <input hidden id="customer" name="customer" value="@Model.Customers.CustomerName" />
                <input hidden id="cusEmail" name="cusEmail" value="@Model.Email" />
                <input hidden id="cusContent" name="cusContent" value="@Model.Description" />
                <div class="col-12">
                    <textarea id="content_mess" class="content" rows="10" cols="60" style="border-radius:15px">
                    </textarea>
                </div>
                <div class="col-12">
                    <button class="btn btn-success" style="border-radius:10px" type="submit"><i class="fa-solid fa-paper-plane"></i>&nbsp;Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $('#contact_form').on('submit', function (e) {
            e.preventDefault();
            var customer = $('#customer').val();
            var cusEmail = $('#cusEmail').val();
            var cusContent = $('#cusContent').val();
            var content_mess = $('#content_mess').val();
            var idContact = $('#idContact').val();
            Swal.fire({
                title: "Please wait...",
                showConfirmButton: false,
                didOpen: () => {
                    Swal.showLoading()
                },
            })
            $.ajax({
                type: "POST",
                url: "/Replay_Contact_Send",
                data: { idContact: idContact, customer: customer, cusEmail: cusEmail, cusContent, content_mess: content_mess },
                success: (data) => {
                    if (data.success) {
                        Swal.fire({
                            title: 'Success',
                            text: "Replied to " + customer,
                            icon: 'success',
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'Ok'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href ="/Admin/Home/Contact"
                            }
                        })
                    }
                }
            })
        })
    </script>
}
