
@{
    ViewData["Title"] = "Cheques";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">List secs</h1>
<div class = "text-center" style="color:Red"></div>

@*<div class="container">
	<div class="row"><a asp-area="Admin" asp-controller="Home" asp-action="CreateProduct">Create new product..</a></div>
    <div class="row">
        <div class="col-12">
            <ejs-grid id="product" dataSource="" allowPaging="true"
                      allowSorting="true" allowFiltering="true">
                <e-grid-pagesettings pageSize="5"></e-grid-pagesettings>
                <e-grid-columns>
                    <e-grid-column headerText="Title" field="Title"></e-grid-column>
                    <e-grid-column headerText="Brand" field="Brand"></e-grid-column>
                    <e-grid-column headerText="Description"  field="Description">
                    </e-grid-column>
                    <e-grid-column headerText="CreatedDate" field="CreatedDate" typeof="date" format="MMM-dd-yy"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>
        </div>
    </div>
@*</div>*@