
@{
    ViewData["Title"] = "FAQ";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}

		<!-- Start FAQ Area -->
		<section class="faq-area ptb-100">
			<div class="container">
				<div class="section-title">
					<span class="top-title">FAQ	</span>
					<h2>Frequently Asked Questions</h2>
				</div>

				<div class="row">
					<div class="col-lg-6">
						<div class="faq-accordion for-mobile-mb-15">
							<ul class="accordion">
								<li class="accordion-item">
									<a class="accordion-title active" href="javascript:void(0)">
										<i class="ri-add-line"></i>
										Which Material Types Can You Work With?	
									</a>
		
									<div class="accordion-content show">
										<p>We really provide an exclusive cleaning service to Our customer residential in the sector. Our Experts are extremely helpful. We really provide an exclusive cleaning service to Our customer residential in the sector really provide an exclusive cleaning service to Our customer residential in the sector.</p>
									</div>
								</li>
								
								<li class="accordion-item">
									<a class="accordion-title" href="javascript:void(0)">
										<i class="ri-add-line"></i>
										Is Smart Lock Required For Instant Apps?	
									</a>
		
									<div class="accordion-content">
										<p>We really provide an exclusive cleaning service to Our customer residential in the sector. Our Experts are extremely helpful. We really provide an exclusive cleaning service to Our customer residential in the sector.</p>
									</div>
								</li>
		
								<li class="accordion-item mb-15">
									<a class="accordion-title" href="javascript:void(0)">
										<i class="ri-add-line"></i>
										Can I Have Multiple Activities In A Single Feature?
									</a>
		
									<div class="accordion-content">
										<p>We really provide an exclusive cleaning service to Our customer residential in the sector. Our Experts are extremely helpful. We really provide an exclusive cleaning service to Our customer residential in the sector.</p>
									</div>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="faq-accordion">
							<ul class="accordion">
								<li class="accordion-item">
									<a class="accordion-title" href="javascript:void(0)">
										<i class="ri-add-line"></i>
										Which Material Types Can You Work With?
									</a>
		
									<div class="accordion-content">
										<p>We really provide an exclusive cleaning service to Our customer residential in the sector. Our Experts are extremely helpful. We really provide an exclusive cleaning service to Our customer residential in the sector.</p>
									</div>
								</li>
								
								<li class="accordion-item">
									<a class="accordion-title" href="javascript:void(0)">
										<i class="ri-add-line"></i>
										Why Choose Our Services In Your Business?
									</a>
		
									<div class="accordion-content">
										<p>We really provide an exclusive cleaning service to Our customer residential in the sector. Our Experts are extremely helpful. We really provide an exclusive cleaning service to Our customer residential in the sector.</p>
									</div>
								</li>
		
								<li class="accordion-item">
									<a class="accordion-title" href="javascript:void(0)">
										<i class="ri-add-line"></i>
										How To Get Start With Us?		
									</a>
		
									<div class="accordion-content">
										<p>We really provide an exclusive cleaning service to Our customer residential in the sector. Our Experts are extremely helpful. We really provide an exclusive cleaning service to Our customer residential in the sector.</p>
									</div>
								</li>
		
								<li class="accordion-item">
									<a class="accordion-title" href="javascript:void(0)">
										<i class="ri-add-line"></i>
										Why Choose Our Services In Your Business?
									</a>
		
									<div class="accordion-content">
										<p>We really provide an exclusive cleaning service to Our customer residential in the sector. Our Experts are extremely helpful. We really provide an exclusive cleaning service to Our customer residential in the sector.</p>
									</div>
								</li>

								<li class="accordion-item">
									<a class="accordion-title" href="javascript:void(0)">
										<i class="ri-add-line"></i>
										How To Get Start With Us?
									</a>
		
									<div class="accordion-content">
										<p>We really provide an exclusive cleaning service to Our customer residential in the sector. Our Experts are extremely helpful. We really provide an exclusive cleaning service to Our customer residential in the sector.</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End FAQ Area -->

		<!-- Start Contact Us Area -->
		<div class="contact-us-area pb-100">
			<div class="container">
				<div class="section-title">
					<h2>Message Us Anytime</h2>
				</div>

				<div class="contact-form faq-contact">
					<form id="contactForm">
						<div class="row">
							<div class="col-lg-6 col-md-6">
								<div class="form-group">
									<input type="text" name="name" id="name" class="form-control" required data-error="Please enter your name" placeholder="Name">
									<div class="help-block with-errors"></div>
								</div>
							</div>

							<div class="col-lg-6 col-md-6">
								<div class="form-group">
									<input type="email" name="email" id="email" class="form-control" required data-error="Please enter your email" placeholder="Email">
									<div class="help-block with-errors"></div>
								</div>
							</div>

							<div class="col-lg-6 col-md-6">
								<div class="form-group">
									<input type="text" name="phone_number" id="phone_number" required data-error="Please enter your number" class="form-control" placeholder="Your Phone No">
									<div class="help-block with-errors"></div>
								</div>
							</div>

							<div class="col-lg-6 col-md-6">
								<div class="form-group">
									<input type="text" name="msg_subject" id="msg_subject" class="form-control" required data-error="Please enter your subject" placeholder="Your Subject">
									<div class="help-block with-errors"></div>
								</div>
							</div>

							<div class="col-lg-12">
								<div class="form-group">
									<textarea name="message" class="form-control" id="message" cols="30" rows="6" required data-error="Write your message" placeholder="Your Message Here"></textarea>
									<div class="help-block with-errors"></div>
								</div>
							</div>

							<div class="d-flex justify-content-between align-items-center">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault-1">
									<label class="form-check-label" for="flexCheckDefault-1">
										I accept all <a href="terms-conditions.html">Terms & Conditions</a> 
									</label>
								</div>

								<div>
									<button type="submit" class="default-btn">
										Send Message
									</button>
									<div id="msgSubmit" class="h3 text-center hidden"></div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- End Contact Us Area -->

