
@{
    ViewData["Title"] = "Features";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}


		<!-- Start Support Area -->
		<div class="support-area bg-color-fbfbfb pt-100 pb-70">
			<div class="container">
				<div class="section-title">
					<span class="top-title">Key Features</span>
					<h2>Which Exclusive Features You Will Get</h2>
					<p>Connect your money to your friends & family from anywhere, anytime regardless any delay. Lorem ipsum Nullana integer sagittis, eleifend. met, aliquere.</p>
				</div>

				<div class="row">
					<div class="col-lg-3 col-sm-6">
						<div class="single-support wow fadeInUp delay-0-2s">
							<img src="assets/images/support/support-1.png" alt="Image">
							<h3>
								<a href="faq.html">Send Money</a>
							</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullana integer sagittis, eleifend consectetur adipiscing.</p>
							<a href="feature-details.html" class="read-more">View Details</a>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-support wow fadeInUp delay-0-4s">
							<img src="assets/images/support/support-2.png" alt="Image">
							<h3>
								<a href="faq.html">Interest Money</a>
							</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullana integer sagittis, eleifend consectetur adipiscing.</p>
							<a href="feature-details.html" class="read-more">View Details</a>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-support wow fadeInUp delay-0-6s">
							<img src="assets/images/support/support-3.png" alt="Image">
							<h3>
								<a href="faq.html">Bank Transfer</a>
							</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullana integer sagittis, eleifend consectetur adipiscing.</p>
							<a href="feature-details.html" class="read-more">View Details</a>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-support wow fadeInUp delay-0-8s">
							<img src="assets/images/support/support-4.png" alt="Image">
							<h3>
								<a href="faq.html">Invest Money</a>
							</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullana integer sagittis, eleifend consectetur adipiscing.</p>
							<a href="feature-details.html" class="read-more">View Details</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Support Area -->

		<!-- Start Other Features Area -->
		<div class="other-features-area pt-100 pb-70">
			<div class="container">
				<div class="section-title">
					<span class="top-title">Other Features</span>
					<h2>What’s Included For Everyone</h2>
					<p>Connect your money to your friends & family from anywhere, anytime regardless any delay. Lorem ipsum Nullana integer sagittis, eleifend. met, aliquere.</p>
				</div>
				<div class="row justify-content-center">
					<div class="col-lg-3 col-sm-6">
						<div class="single-other-features">
							<div class="features-icon">
								<i class="flaticon-wallet"></i>
							</div>
							<h3>
								<a href="feature-details.html">Tools To Build Optimized Checkout Flows</a>
							</h3>
							<ul>
								<li>
									<i class="flaticon-check-mark"></i>
									Lorem ipsum nullana
								</li>
								<li>
									<i class="flaticon-check-mark"></i>
									Sagittis eleifend metere filti, aliquere.
								</li>
								<li>
									<i class="flaticon-check-mark"></i>
									Lorem ipsum Nullana bilt.
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="single-other-features">
							<div class="features-icon">
								<i class="flaticon-safebox"></i>
							</div>
							<h3>
								<a href="feature-details.html">Global Payments With A Single Integration</a>
							</h3>
							<ul>
								<li>
									<i class="flaticon-check-mark"></i>
									Lorem ipsum Nullana
								</li>
								<li>
									<i class="flaticon-check-mark"></i>
									Sagittis eleifend metere filti, aliquere.
								</li>
								<li>
									<i class="flaticon-check-mark"></i>
									Lorem ipsum Nullana bilt.
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="single-other-features">
							<div class="features-icon">
								<i class="flaticon-withdraw"></i>
							</div>
							<h3>
								<a href="feature-details.html">Comprehensive Security And Compliance</a>
							</h3>
							<ul>
								<li>
									<i class="flaticon-check-mark"></i>
									Lorem ipsum Nullana
								</li>
								<li>
									<i class="flaticon-check-mark"></i>
									Sagittis eleifend metere filti, aliquere.
								</li>
								<li>
									<i class="flaticon-check-mark"></i>
									Lorem ipsum Nullana bilt.
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="single-other-features">
							<div class="features-icon">
								<i class="flaticon-payment-method"></i>
							</div>
							<h3>
								<a href="feature-details.html">Fast, Predictable Payouts To Your Bank Accounts</a>
							</h3>
							<ul>
								<li>
									<i class="flaticon-check-mark"></i>
									Lorem ipsum Nullana
								</li>
								<li>
									<i class="flaticon-check-mark"></i>
									Sagittis eleifend metere filti, aliquere.
								</li>
								<li>
									<i class="flaticon-check-mark"></i>
									Lorem ipsum Nullana bilt.
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Other Features Area -->

		<!-- Start Started Area -->
		<div class="started-area bg-color-ee6a3e">
			<div class="container">
				<div class="started-bg">
					<div class="started-content">
						<h3>Ready To Get Started?</h3>
						<p>Explore BITR Payments, or create an account instantly and start accepting payments. You can also contact us to design a custom package for your new online business.</p>

						<div class="started-btn">
							<a asp-controller="Account" asp-action="Register" class="default-btn">
								Start Now
							</a>
							<a asp-controller="Home" asp-action="ContactUs" class="default-btn active">
								Contact Us
							</a>
						</div>
					</div>

					<img src="~/assets/images/started-shape-1.png" class="shape shape-1" alt="Image">
					<img src="~/assets/images/started-shape-2.png" class="shape shape-2" alt="Image">
					<img src="~/assets/images/started-shape-3.png" class="shape shape-3" alt="Image">
				</div>
			</div>
		</div>
		<!-- End Started Area -->

