
@{
    ViewData["Title"] = "404";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}

		<!-- Start 404 Error -->
		<div class="error-area ptb-100">
			<div class="d-table">
				<div class="d-table-cell">
					<div class="error-content">
						<h1>4 <span class="red">0</span> 4</h1>
						<h3>Oops! Page Not Found</h3>
						<p>The page you were looking for could not be found.</p>

						<a asp-controller = "Home" asp-action = "Index" class="default-btn">
							<span>
								Return To Home Page
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- End 404 Error -->


