
@{
    ViewData["Title"] = "TermsConditions";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}


		<!-- End Terms & Conditions Area -->
		<section class="ptb-100">
			<div class="container">
				<div class="main-content-text">
					<h3>1. Accuracy and validity of information</h3>
					<p>Proin eget tortor risus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Quisque velit nisi, pretium ut lacinia in elementum id enim. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Donec rutrum congue leo eget malesuada. Donec rutrum congue leo eget malesuada. Pellentesque in ipsum id orci porta dapibus. Curabitur aliquet quam id ut lacinia in elementum id enim. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi leo eget malesuada.</p>

					<div class="gap-20"></div>

					<h3>2. Availability</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, odio sequi! Nam consectetur, officiis ipsam explicabo tempore placeat! Voluptas molestiae pariatur necessitatibus consectetur, ullam aut esse amet debitis sint culpa. orem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, odio Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae mollitia laborum assumenda beatae minima enim quis dolores, pariatur, at perferendis sit dolore modi nostrum eum ea voluptatem</p>
					<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut, placeat? Culpa ab est nemo perspiciatis quam, nesciunt reprehenderit voluptate id error corrupti doloremque exercitationem quis, iusto debitis velit eveniet ea. ipsum dolor sit amet consectetur, adipisicing elit. Ut, placeat? Culpa ab est nemo perspiciatis quam, nesciunt reprehenderit</p>

					<div class="gap-20"></div>

					<h3>3. Third party websites</h3>
					<p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vivamus suscipit tortor eget felis porttitor volutpat. Nulla quis lorem ut libero malesuada feugiat. Nulla porttitor accumsan tincidunt. Sed porttitor lectus nibh. Pellentesque in ipsum id orci porta dapibus.Nulla quis lorem ut libero malesuada feugiat. Proin eget tortor risus. Nulla porttitor accumsan tinci dunt. Donec rutrum congue leo eget malesuada. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus magna justo.</p>
					<p>Quisque velit nisi, pretium ut lacinia in, elementum id enim. Proin eget tortor risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet quam id dui posuere blandit. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.</p>

					<div class="gap-20"></div>

					<h3>4.  Copyright and intellectual property</h3>
					<p>Nulla quis lorem ut libero malesuada feugiat. Proin eget tortor risus. Nulla porttitor accumsan tincidunt. Donec rutrum congue leo eget malesuada. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus  libero malesuada feugiat. Proin eget tortor.</p>
					<ul>
						<li>
							<i class="ri-check-line"></i>
							Quisque velit nisi, pretium ut lacinia in, elementum id enim. 
						</li>
						<li>
							<i class="ri-check-line"></i>
							Proin eget tortor risus consectetur adipiscing elit.
						</li>
						<li>
							<i class="ri-check-line"></i>
							Curabitur aliquet quam id dui posuere blandit. 
						</li>
					</ul>

					<div class="gap-20"></div>

					<h3>6. Termination of contract</h3>
					<p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vivamus suscipit tortor eget felis porttitor volutpat. Nulla quis lorem ut libero malesuada feugiat. Nulla porttitor accumsan tincidunt. Sed porttitor lectus nibh. Pellentesque in ipsum id orci porta dapibus.Nulla quis lorem ut libero malesuada feugiat. Proin eget tortor risus. Nulla porttitor accumsan tinci dunt. Donec rutrum congue leo eget malesuada. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus magna justo</p>
					<p>Quisque velit nisi, pretium ut lacinia in, elementum id enim. Proin eget tortor risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet quam id dui posuere blandit. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.</p>

					<div class="gap-20"></div>

					<h3>7. Limitation of liability</h3>
					<p>Proin eget tortor risus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Quisque velit nisi, pretium ut lacinia in elementum id enim. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Donec rutrum congue leo eget malesuada. Donec rutrum congue leo eget malesuada. Pellentesque in ipsum id orci.</p>
				</div>
			</div>
		</section>
		<!-- End Terms & Conditions Area -->

		<!-- Start Started Area -->
@if (User.Identity.IsAuthenticated)
{

}
else
{
	<div class="started-area bg-color-ee6a3e">
		<div class="container">
			<div class="started-bg">
				<div class="started-content">
					<h3>Ready To Get Started?</h3>
					<p>Explore BITR Payments, or create an account instantly and start accepting payments. You can also contact us to design a custom package for your new online business.</p>

					<div class="started-btn">
						<a asp-controller="Account" asp-action="Login" asp-area="Customer" class="default-btn">
							Start Now
						</a>
						<a asp-controller="Home" asp-action="ContactUs" asp-area="Customer" class="default-btn active">
							Contact Us
						</a>
					</div>
				</div>
				@*
			<img src="/~assets/images/started-shape-1.png" class="shape shape-1" alt="Image">
			<img src="/~assets/images/started-shape-2.png" class="shape shape-2" alt="Image">
			<img src="/~assets/images/started-shape-3.png" class="shape shape-3" alt="Image">*@
			</div>
		</div>
	</div>
}
		<!-- End Started Area -->

