@model BankModel.News
@{
    ViewData["Title"] = "Blog Details";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}

		<!-- Start Blog Details Area -->
		<div class="blog-details-area ptb-100 bg-color-fbfbfb">
			<div class="container">
				<div class="blog-details-content">
					<h2>@Model.Title</h2>
					<ul class="user">
						<li>
							<i class="flaticon-calendar"></i>
							@Model.FormatDate
						</li>
						<li>
							<i class="flaticon-user"></i>
							<a href="blog-details.html">By Admin</a>
						</li>
					</ul>

					<div class="details-img">
						<img src="@Model.ImageMain" style="width:100%;" alt="Image">
					</div>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Gravida arcu mattis interdum euismod lobortis. Sapien, semperertila tellus. Sapien nulla felis mollis volutpat in viverra. Nullam a, sit etiam egestas. Nisl eget lorem venenati lectus platea quam. Et gravida sagittis, blandit habitasse neque.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Gravida arcu mattis interdum <a href="blog.html">euismod</a> lobortis. Sapien, semperer tila tellus. Sapien nulla felis mollis volutpat in viverra. Nullam a, sit etiam egestas.</p>

					<div class="gap-30"></div>

					<h3>Consumers Expectation Rises In A Decade</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Gravida arcu mattis interdum euismod lobortis. Sapien, semperertila tellus. Sapien nulla felis mollis volutpat in viverra. Nullam a, sit etiam egestas. Nisl eget lorem venenati lectus platea quam. Et gravida sagittis, blandit habitasse neque.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Gravida arcu mattis interdum euismod lobortis. Sapien, semperer tila tellus. Sapien nulla felis mollis volutpat in viverra. Nullam a, sit etiam egestas.</p>

					<div class="gap-30"></div>

					<h3>Check Out Our Full Range Of Ebooks, Videos And More</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Gravida arcu mattis interdum euismod lobortis. Sapien, semperertila tellus. Sapien nulla felis mollis volutpat in viverra. Nullam a, sit etiam egestas. Nisl eget lorem venenati lectus platea quam. Et gravida sagittis, blandit habitasse neque. </p>

					<div class="gap-30"></div>

					<div class="row">
						<div class="col-lg-6 col-sm-6">
							<ul class="available-list">
								<li>
									<i class="flaticon-check-mark"></i>
									Free Plan Available For Everyone
								</li>
								<li>
									<i class="flaticon-check-mark"></i>
									Debit Mastercard Included In All Account
								</li>
								<li>
									<i class="flaticon-check-mark"></i>
									Commitment Free
								</li>
							</ul>
						</div>
						<div class="col-lg-6 col-sm-6">
							<ul class="available-list">
								<li>
									<i class="flaticon-check-mark"></i>
									Full Data Privacy Compliance For Customer
								</li>
								<li>
									<i class="flaticon-check-mark"></i>
									100% Transparent Costs Effective
								</li>
								<li>
									<i class="flaticon-check-mark"></i>
									Real-time Spending Overview 
								</li>
							</ul>
						</div>
					</div>

					<div class="gap-30"></div>

					<div class="row">
						<div class="col-12">
							<div class="mb-30">
								<img width="1000" src="@Model.ImageSlide" alt="Image">
							</div>
						</div>
					</div>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Gravida arcu mattis interdum euismod lobortis. Sapien, semperertila tellus. Sapien nulla felis mollis volutpat in viverra. Nullam a, sit etiam egestas. Nisl eget lorem venenati lectus platea quam. Et gravida sagittis, blandit habitasse neque.</p>

					<div class="gap-30"></div>

					<blockquote>
						<i class="flaticon-left-quote"></i>
						<p>I’m really honoured that I found Bitr in my danger time.It is our dedication that defines us. We are continuously improving our craft in order to provide the highest level of technical execution.</p>
					</blockquote>

					<div class="gap-30"></div>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Gravida arcu mattis interdum euismod lobortis. Sapien, semperer tila tellus. Sapien nulla felis mollis volutpat in viverra. Nullam a, sit etiam egestas.</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Gravida arcu mattis interdum euismod lobortis. Sapien, semperertila tellus. Sapien nulla felis mollis volutpat in viverra. Nullam a, sit etiam egestas. Nisl eget lorem venenati lectus platea quam. Et gravida sagittis, blandit habitasse neque. </p>

					<div class="gap-30"></div>

					<div class="social-tag">
						<div class="row align-items-center">
							<div class="col-lg-6 col-md-6">
								<ul class="tag-list">
									<li>
										<a href="blog.html">
											Banking
										</a>
									</li>
									<li>
										<a href="blog.html">
											Finance
										</a>
									</li>
									<li>
										<a href="blog.html">
											Business
										</a>
									</li>
								</ul>
							</div>
							<div class="col-lg-6 col-md-6">
								<ul class="social-link">
									<li>
										<span>Share The Blog:</span>
									</li>
									<li>
										<a href="https://facebook.com/" target="_blank">
											<i class="flaticon-facebook"></i>
										</a>
									</li>
									<li>
										<a href="https://instagram.com/" target="_blank">
											<i class="flaticon-instagram"></i>
										</a>
									</li>
									<li>
										<a href="https://twitter.com/" target="_blank">
											<i class="flaticon-twitter"></i>
										</a>
									</li>
									<li>
										<a href="https://linkedin.com/" target="_blank">
											<i class="flaticon-linkedin"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					@*<div class="leave-form">
						<h3>Leave A Reply</h3>

						<form>
							<div class="row">
								<div class="col-lg-6 col-md-6">
									<div class="form-group">
										<label>Name</label>
										<input type="text" class="form-control" placeholder="e.g. Adnin Geva">
									</div>
								</div>

								<div class="col-lg-6 col-md-6">
									<div class="form-group">
										<label>Email</label>
										<input type="email" class="form-control" placeholder="e.g. Adnin Geva">
									</div>
								</div>

								<div class="col-lg-6 col-md-6">
									<div class="form-group">
										<label>Phone No</label>
										<input type="text" class="form-control" placeholder="e.g. Adnin Geva">
									</div>
								</div>

								<div class="col-lg-6 col-md-6">
									<div class="form-group">
										<label>Subject</label>
										<input type="text" class="form-control" placeholder="e.g. Adnin Geva">
									</div>
								</div>

								<div class="col-lg-12">
									<div class="form-group">
										<label>Your Comments</label>
										<textarea name="message" class="form-control" id="message" rows="6" placeholder="Write Here"></textarea>
									</div>
								</div>

								<div class="col-lg-12">
									<div class="form-group">
										<div class="form-check">
											<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault-1">
											<label class="form-check-label" for="flexCheckDefault-1">
												Save my name and email in this browser for the next time I comment.
											</label>
										</div>
									</div>
								</div>

								<div class="col-lg-12">
									<div class="form-group mb-0">
										<button type="submit" class="default-btn">Post Comment</button>
									</div>
								</div>
							</div>
						</form>
					</div>*@
				</div>
			</div>
		</div>
		<!-- End Blog Details Area -->
@*@if(User.Identity.IsAuthenticated){
	<div></div>
}else{
	<div class="started-area bg-color-ee6a3e">
		<div class="container">
			<div class="started-bg">
				<div class="started-content">
					<h3>Ready To Get Started?</h3>
					<p>Explore BITR Payments, or create an account instantly and start accepting payments. You can also contact us to design a custom package for your new online business.</p>
					<div class="started-btn">
						<a asp-controller="Account" asp-action="Login" asp-area="Customer" class="default-btn">
							Start Now
						</a>
						<a asp-controller="Home" asp-action="ContactUs" class="default-btn active">
							Contact Us
						</a>
					</div>
				</div>

				<img src="~/assets/images/started-shape-1.png" class="shape shape-1" alt="Image">
				<img src="~/assets/images/started-shape-2.png" class="shape shape-2" alt="Image">
				<img src="~/assets/images/started-shape-3.png" class="shape shape-3" alt="Image">
			</div>
		</div>
	</div>
}
*@
<!-- End Started Area -->


